rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /Musicas do Site/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'fpacstore@gmail.com' || 
        request.auth.token.email == 'atendimento@fpacstore.com.br'
      );
    }
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (
        request.auth.token.email == 'fpacstore@gmail.com' || 
        request.auth.token.email == 'atendimento@fpacstore.com.br'
      );
    }
  }
}
